src/Symfony/Bundle/DebugBundle/Resources/config/schema/debug-1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns="http://symfony.com/schema/dic/debug"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://symfony.com/schema/dic/debug"
    elementFormDefault="qualified">

    <xsd:element name="config" type="config" />

    <xsd:complexType name="config">
        <xsd:attribute name="max-items" type="xsd:integer" />
        <xsd:attribute name="min-depth" type="xsd:integer" />
        <xsd:attribute name="max-string-length" type="xsd:integer" />
        <xsd:attribute name="dump-destination" type="xsd:string" />
    </xsd:complexType>
</xsd:schema>
