src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xsd:schema xmlns="http://symfony.com/schema/dic/symfony"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://symfony.com/schema/dic/symfony"
    elementFormDefault="qualified">

    <xsd:element name="config" type="config" />

    <xsd:complexType name="config">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="assets" type="assets" minOccurs="0" maxOccurs="1" />
            <xsd:element name="form" type="form" minOccurs="0" maxOccurs="1" />
            <xsd:element name="csrf-protection" type="csrf_protection" minOccurs="0" maxOccurs="1" />
            <xsd:element name="esi" type="esi" minOccurs="0" maxOccurs="1" />
            <xsd:element name="ssi" type="ssi" minOccurs="0" maxOccurs="1" />
            <xsd:element name="fragments" type="fragments" minOccurs="0" maxOccurs="1" />
            <xsd:element name="web-link" type="web_link" minOccurs="0" maxOccurs="1" />
            <xsd:element name="profiler" type="profiler" minOccurs="0" maxOccurs="1" />
            <xsd:element name="router" type="router" minOccurs="0" maxOccurs="1" />
            <xsd:element name="session" type="session" minOccurs="0" maxOccurs="1" />
            <xsd:element name="request" type="request" minOccurs="0" maxOccurs="1" />
            <xsd:element name="templating" type="templating" minOccurs="0" maxOccurs="1" />
            <xsd:element name="translator" type="translator" minOccurs="0" maxOccurs="1" />
            <xsd:element name="validation" type="validation" minOccurs="0" maxOccurs="1" />
            <xsd:element name="annotations" type="annotations" minOccurs="0" maxOccurs="1" />
            <xsd:element name="property-access" type="property_access" minOccurs="0" maxOccurs="1" />
            <xsd:element name="serializer" type="serializer" minOccurs="0" maxOccurs="1" />
            <xsd:element name="property-info" type="property_info" minOccurs="0" maxOccurs="1" />
            <xsd:element name="cache" type="cache" minOccurs="0" maxOccurs="1" />
            <xsd:element name="workflow" type="workflow" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="amqp" type="amqp" minOccurs="0" maxOccurs="1" />
            <xsd:element name="worker" type="worker" minOccurs="0" maxOccurs="1" />
        </xsd:choice>

        <xsd:attribute name="http-method-override" type="xsd:boolean" />
        <xsd:attribute name="trusted-proxies" type="xsd:string" />
        <xsd:attribute name="ide" type="xsd:string" />
        <xsd:attribute name="secret" type="xsd:string" />
        <xsd:attribute name="default-locale" type="xsd:string" />
        <xsd:attribute name="test" type="xsd:boolean" />
    </xsd:complexType>

    <xsd:complexType name="form">
        <xsd:all>
            <xsd:element name="csrf-protection" type="form_csrf_protection" minOccurs="0" maxOccurs="1" />
        </xsd:all>
        <xsd:attribute name="enabled" type="xsd:boolean" />
    </xsd:complexType>

    <xsd:complexType name="form_csrf_protection">
        <xsd:attribute name="enabled" type="xsd:boolean" />
        <xsd:attribute name="field-name" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="csrf_protection">
        <xsd:attribute name="enabled" type="xsd:boolean" />
    </xsd:complexType>

    <xsd:complexType name="esi">
        <xsd:attribute name="enabled" type="xsd:boolean" />
    </xsd:complexType>

    <xsd:complexType name="ssi">
        <xsd:attribute name="enabled" type="xsd:boolean" />
    </xsd:complexType>

    <xsd:complexType name="fragments">
        <xsd:attribute name="enabled" type="xsd:boolean" />
        <xsd:attribute name="path" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="web_link">
        <xsd:attribute name="enabled" type="xsd:boolean" />
    </xsd:complexType>

    <xsd:complexType name="profiler">
        <xsd:all>
            <xsd:element name="matcher" type="profiler_matcher" minOccurs="0" maxOccurs="1" />
        </xsd:all>

        <xsd:attribute name="collect" type="xsd:string" />
        <xsd:attribute name="only-exceptions" type="xsd:string" />
        <xsd:attribute name="only-master-requests" type="xsd:string" />
        <xsd:attribute name="enabled" type="xsd:string" />
        <xsd:attribute name="dsn" type="xsd:string" />
        <xsd:attribute name="username" type="xsd:string" />
        <xsd:attribute name="password" type="xsd:string" />
        <xsd:attribute name="lifetime" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="profiler_matcher">
        <xsd:attribute name="ip" type="xsd:string" />
        <xsd:attribute name="path" type="xsd:string" />
        <xsd:attribute name="service" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="router">
        <xsd:attribute name="resource" type="xsd:string" />
        <xsd:attribute name="type" type="xsd:string" />
        <xsd:attribute name="http-port" type="xsd:string" />
        <xsd:attribute name="https-port" type="xsd:string" />
        <xsd:attribute name="strict-requirements" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="session">
        <xsd:attribute name="storage-id" type="xsd:string" />
        <xsd:attribute name="handler-id" type="xsd:string" />
        <xsd:attribute name="name" type="xsd:string" />
        <xsd:attribute name="cookie-lifetime" type="xsd:string" />
        <xsd:attribute name="cookie-path" type="xsd:string" />
        <xsd:attribute name="cookie-domain" type="xsd:string" />
        <xsd:attribute name="cookie-secure" type="xsd:boolean" />
        <xsd:attribute name="cookie-httponly" type="xsd:boolean" />
        <xsd:attribute name="use-cookies" type="xsd:boolean" />
        <xsd:attribute name="cache-limiter" type="xsd:string" />
        <xsd:attribute name="gc-maxlifetime" type="xsd:string" />
        <xsd:attribute name="gc-divisor" type="xsd:string" />
        <xsd:attribute name="gc-probability" type="xsd:string" />
        <xsd:attribute name="use-strict-mode" type="xsd:boolean" />
        <xsd:attribute name="save-path" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="request">
        <xsd:sequence>
            <xsd:element name="format" type="format" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="format">
        <xsd:choice minOccurs="1" maxOccurs="unbounded">
            <xsd:element name="mime-type" type="xsd:string" />
        </xsd:choice>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="assets">
        <xsd:sequence>
            <xsd:element name="base-url" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="package" type="package" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="base-path" type="xsd:string" />
        <xsd:attribute name="version-strategy" type="xsd:string" />
        <xsd:attribute name="version" type="xsd:string" />
        <xsd:attribute name="version-format" type="xsd:string" />
        <xsd:attribute name="json-manifest-path" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="package">
        <xsd:sequence>
            <xsd:element name="base-url" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="base-path" type="xsd:string" />
        <xsd:attribute name="version-strategy" type="xsd:string" />
        <xsd:attribute name="version" type="xsd:string" />
        <xsd:attribute name="version-format" type="xsd:string" />
        <xsd:attribute name="json-manifest-path" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="templating">
        <xsd:sequence>
            <xsd:element name="loader" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="engine" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="form" type="form-resources" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>

        <xsd:attribute name="enabled" type="xsd:boolean" />
        <xsd:attribute name="cache" type="xsd:string" />
        <xsd:attribute name="hinclude-default-template" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="form-resources">
        <xsd:choice minOccurs="1" maxOccurs="unbounded">
            <xsd:element name="resource" type="xsd:string" />
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="translator">
        <xsd:sequence>
            <xsd:element name="fallback" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="path" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="enabled" type="xsd:boolean" />
        <xsd:attribute name="fallback" type="xsd:string" />
        <xsd:attribute name="logging" type="xsd:boolean" />
    </xsd:complexType>

    <xsd:complexType name="validation">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="static-method" type="xsd:string" />
            <xsd:element name="mapping" type="file_mapping" />
        </xsd:choice>

        <xsd:attribute name="enabled" type="xsd:boolean" />
        <xsd:attribute name="cache" type="xsd:string" />
        <xsd:attribute name="enable-annotations" type="xsd:boolean" />
        <xsd:attribute name="static-method" type="xsd:boolean" />
    </xsd:complexType>

    <xsd:complexType name="file_mapping">
        <xsd:sequence>
            <xsd:element name="path" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="annotations">
        <xsd:attribute name="cache" type="xsd:string" />
        <xsd:attribute name="debug" type="xsd:string" />
        <xsd:attribute name="file-cache-dir" type="xsd:string" />
        <xsd:attribute name="enabled" type="xsd:boolean" />
    </xsd:complexType>

    <xsd:complexType name="property_access">
        <xsd:attribute name="magic-call" type="xsd:boolean" />
        <xsd:attribute name="throw-exception-on-invalid-index" type="xsd:boolean" />
    </xsd:complexType>

    <xsd:complexType name="serializer">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="mapping" type="file_mapping" />
        </xsd:choice>
        <xsd:attribute name="enabled" type="xsd:boolean" />
        <xsd:attribute name="cache" type="xsd:string" />
        <xsd:attribute name="enable-annotations" type="xsd:boolean" />
        <xsd:attribute name="name-converter" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="property_info">
        <xsd:attribute name="enabled" type="xsd:boolean" />
    </xsd:complexType>

    <xsd:complexType name="cache">
        <xsd:sequence>
            <xsd:element name="app" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="system" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="directory" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="default-doctrine-provider" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="default-psr6-provider" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="default-redis-provider" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="default-memcached-provider" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="pool" type="cache_pool" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="cache_pool">
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="adapter" type="xsd:string" />
        <xsd:attribute name="public" type="xsd:boolean" />
        <xsd:attribute name="default-lifetime" type="xsd:integer" />
        <xsd:attribute name="provider" type="xsd:string" />
        <xsd:attribute name="clearer" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="workflow">
        <xsd:sequence>
            <xsd:element name="marking-store" type="marking_store" />
            <xsd:element name="support" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="place" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
            <xsd:element name="transition" type="transition" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="type" type="workflow_type" />
        <xsd:attribute name="initial-place" type="xsd:string" />
        <xsd:attribute name="support-strategy" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="marking_store">
        <xsd:sequence>
            <xsd:element name="argument" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="type" type="marking_store_type" />
        <xsd:attribute name="service" type="xsd:string" />
    </xsd:complexType>

    <xsd:simpleType name="marking_store_type">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="multiple_state" />
            <xsd:enumeration value="single_state" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="transition">
        <xsd:sequence>
            <xsd:element name="from" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
            <xsd:element name="to" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:simpleType name="workflow_type">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="state_machine" />
            <xsd:enumeration value="workflow" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="amqp">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="connection" type="amqp_connection" minOccurs="0" maxOccurs="unbounded" />
        </xsd:choice>

        <xsd:attribute name="default_connection" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="amqp_connection">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="queue" type="amqp_queue" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="exchange" type="amqp_exchange" minOccurs="0" maxOccurs="unbounded" />
        </xsd:choice>

        <xsd:attribute name="url" type="xsd:string" />
        <xsd:attribute name="name" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="amqp_queue">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="argument" type="amqp_argument" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="retry-strategy-options" type="amqp_queue_retry_strategy_options" minOccurs="0" maxOccurs="1" />
        </xsd:choice>
        <xsd:attribute name="name" type="xsd:string" />
        <xsd:attribute name="retry-strategy" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="amqp_argument">
        <xsd:attribute name="key" type="xsd:string" />
        <xsd:attribute name="value" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="amqp_queue_retry_strategy_options">
        <xsd:attribute name="key" type="xsd:string" />
        <xsd:attribute name="offset" type="xsd:string" />
        <xsd:attribute name="max" type="xsd:string" />
        <xsd:attribute name="time" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="amqp_exchange">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="argument" type="amqp_argument" minOccurs="0" maxOccurs="unbounded" />
        </xsd:choice>
        <xsd:attribute name="name" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="worker">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="fetchers" type="worker_fetchers" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="routers" type="worker_routers" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="worker" type="worker_workers" minOccurs="0" maxOccurs="unbounded" />
        </xsd:choice>
        <xsd:attribute name="cli-title-prefix" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="worker_fetchers">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="amqp" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:attribute name="name" type="xsd:string" use="required" />
                    <xsd:attribute name="queue_name" type="xsd:string" />
                    <xsd:attribute name="connection" type="xsd:string" />
                    <xsd:attribute name="auto_ack" type="xsd:string" />
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="service" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:attribute name="name" type="xsd:string" use="required" />
                    <xsd:attribute name="service" type="xsd:string" />
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="buffer" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:attribute name="name" type="xsd:string" use="required" />
                    <xsd:attribute name="wrap" type="xsd:string" />
                    <xsd:attribute name="max_messages" type="xsd:string" />
                    <xsd:attribute name="max_buffering_time" type="xsd:string" />
                </xsd:complexType>
            </xsd:element>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="worker_routers">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="direct" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:attribute name="name" type="xsd:string" use="required" />
                    <xsd:attribute name="fetcher" type="xsd:string" />
                    <xsd:attribute name="consumer" type="xsd:string" />
                    <xsd:attribute name="auto_ack" type="xsd:string" />
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="round-robin" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence minOccurs="1" maxOccurs="unbounded">
                        <xsd:element name="group" type="xsd:string" />
                    </xsd:sequence>
                    <xsd:attribute name="name" type="xsd:string" use="required" />
                </xsd:complexType>
            </xsd:element>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="worker_workers">
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="router" type="xsd:string" />
        <xsd:attribute name="fetcher" type="xsd:string" />
        <xsd:attribute name="consumer" type="xsd:string" />
    </xsd:complexType>

</xsd:schema>
