src/Symfony/Bundle/FrameworkBundle/Resources/config/schema/symfony-1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xsd:schema xmlns="http://www.symfony-project.org/schema/dic/symfony"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.symfony-project.org/schema/dic/symfony"
    elementFormDefault="qualified">

    <xsd:element name="config" type="config" />
    <xsd:element name="templating" type="templating" />
    <xsd:element name="user" type="user" />

    <xsd:complexType name="config">
        <xsd:sequence>
            <xsd:element name="router" type="router" minOccurs="0" maxOccurs="1" />
            <xsd:element name="validation" type="validation" minOccurs="0" maxOccurs="1" />
            <xsd:element name="profiler" type="profiler" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>

        <xsd:attribute name="ide" type="xsd:string" />
        <xsd:attribute name="csrf-secret" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="profiler">
        <xsd:sequence>
            <xsd:element name="matcher" type="profiler_matcher" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="profiler_matcher">
        <xsd:attribute name="ip" type="xsd:string" />
        <xsd:attribute name="path" type="xsd:string" />
        <xsd:attribute name="service" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="router">
        <xsd:attribute name="resource" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="validation">
        <xsd:attribute name="enabled" type="xsd:boolean" />
        <xsd:attribute name="annotations" type="xsd:boolean" />
    </xsd:complexType>

    <xsd:complexType name="user">
        <xsd:sequence>
            <xsd:element name="session" type="session" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>

        <xsd:attribute name="class" type="xsd:string" />
        <xsd:attribute name="default_locale" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="session">
        <xsd:attribute name="class" type="xsd:string" />
        <xsd:attribute name="name" type="xsd:string" />
        <xsd:attribute name="type" type="xsd:string" />
        <xsd:attribute name="lifetime" type="xsd:integer" />
        <xsd:attribute name="path" type="xsd:string" />
        <xsd:attribute name="domain" type="xsd:string" />
        <xsd:attribute name="secure" type="xsd:string" />
        <xsd:attribute name="httponly" type="xsd:string" />
        <xsd:attribute name="cache_limiter" type="xsd:string" />
        <xsd:attribute name="pdo.db_table" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="templating">
        <xsd:sequence>
            <xsd:element name="loader" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="escaping" type="xsd:string" />
        <xsd:attribute name="assets_version" type="xsd:string" />
        <xsd:attribute name="path" type="xsd:string" />
        <xsd:attribute name="cache" type="xsd:string" />
    </xsd:complexType>
</xsd:schema>
